/*fonts*/
@font-face{
	src:url(../font/playfair display/PlayfairDisplay-Black.otf);
	font-family:PlayfairDisplay-Black;	
}
@font-face{
	src:url(../font/playfair display/PlayfairDisplay-Bold.otf);
	font-family:PlayfairDisplay-Bold;
}
@font-face{
	src:url(../font/playfair display/PlayfairDisplay-regular.otf);
	font-family:PlayfairDisplay-regular;
}
@font-face{
	src:url(../font/playfair display/PlayfairDisplay-Italic.otf);
	font-family:PlayfairDisplay-Italic;
}
@font-face{
	src:url(../font/ubuntu/Ubuntu-L.ttf);
	font-family:ubuntu-light;
}

@font-face{
	src:url(../font/inconsolata/Inconsolata.otf);
	font-family:Inconsolata-regular;
}
/*fonts*/

/*common start*/
body{
	margin:0;
	padding:0;
	font-family:'PlayfairDisplay', serif;
	font-size:16px;
	font-weight:400;
	font-color:#626262;
}
/*common end*/

/*header start*/
header{
	padding:20px 0;
}

.container{
	width:90%;
	margin:0 auto;
	/*border:1px solid red;*/
	overflow:hidden;
}
.logo{
	width:10%;
	padding-top:8px;
	/*border:1px solid red;*/
	float:left;
}
.logo img{
	width:100%;
}
.menu{
	width:60%;
	/*border:1px solid red;*/
	float:right;


}
.menu ul{
	float:right;
}
.menu ul li{
	list-style:none;
	float:left;
}
.menu ul li a{
	color:#626262;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	margin:0px 50px;
	border-bottom:1px solid transparent;

}
.menu ul li:last-child a{
	margin-right:0;
}
.menu ul li a:hover{
	border-bottom:1px solid #000000;
}
/*header end*/

/*banner start*/
.banner{
}
.b_c{
	width:100%;
	min-height:450px;
	margin:75px 0 30px;
}
/*banner end*/
/*article start*/
article{
	padding-top:65px;
}
.a_container{
	width:70%;
	margin:0 auto;
	/*border:1px solid red;*/
}
.a_container h1{
	padding-top:30px;
	padding-bottom:40px;
	font-family:PlayfairDisplay-regular;
	font-size:30px;
	font-weight:400;
	color:#626262;

}
.a_container h3{
	font-family:ubuntu-light;
	font-size:16px;
	font-weight:300;
	color:#b4ad9e;
	text-transform:uppercase;
}
.a_container p{
	padding-bottom:50px;
	font-family:PlayfairDisplay-regular;
	font-size:16px;
	font-weight:400;
	color:#626262;
	text-align: justify;
}
/*article end*/
/*main start*/
main{}
.common{
	width:70%;
}
.c_img{}
.c_img img{}
.common h1{}
.common h3{}
.common p{}

/*main end*/